<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title>수신 업무 조회</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../../static/image/main/favicon.ico" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link th:href="@{https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap}" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css}" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/static/css/styles.css}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">
            <div th:replace="common/header :: header"></div>
            <!-- Header-->
			
			<section class="py-5">
                <div class="container px-5 mb-5">
                    <div class="text-center">
                        <h2 class="text-primary fw-bolder mb-0">수신 업무 조회</h2>
                    </div>
                    
					<p class="lead fw-normal text-muted mb-0" style="margin-top: 30px;">조회 조건</p>
					<div class="mb-2" flex="justify-content: space-between;" style="margin-top: 10px;">
						<label for="employee" class="col-form-label" style="float: left; padding-right: 10px; font-weight: 600;">대분류 </label>
						<a>
							<div class="btn btn-userAdd px-2 py-1 bi-search" id="searchButton" style="float: right;">
								검색
							</div>
						</a>
						<input type="checkbox" id="commonCheckBox" name="commonCheckBox" class="mb-3 form-check form-check-input" style="float: left;" disabled/>
						<label for="category" class="col-form-label" style="float: left; padding-right: 10px;">공통</label>
						<input type="checkbox" id="depositCheckBox" name="depositCheckBox" class="mb-3 form-check form-check-input" style="float: left;" checked/>
						<label for="category" class="col-form-label" style="float: left; padding-right: 10px;">수신</label>
						<input type="checkbox" id="loanCheckBox" name="loanCheckBox" class="mb-3 form-check form-check-input" style="float: left;" disabled/>
						<label for="category" class="col-form-label" style="float: left; padding-right: 10px;">여신</label><br><br>
					</div> 
					<div class="form-floating mb-3" style="width: 49%; float: left;">
						<input class="form-control" id="toyKey" name="toyKey" type="text" maxlength="20" placeholder="enter the toyKey..." data-sb-validations="required" data-sb-can-submit="no">
						<label for="toyKey">업무키</label>
					</div>
					<div class="form-floating mb-3" style="width: 49%; float: right;">
						<input class="form-control" id="custNm" name="custNm" type="text" maxlength="20" placeholder="enter the customer name" data-sb-validations="required" data-sb-can-submit="no">
						<label for="custNm">고객명</label>
					</div>
					<div class="form-floating mb-3" style="width: 49%; float: left;">
						<input class="form-control" id="rrnNo" name="rrnNo" type="text" maxlength="6" placeholder="enter the rrn number" data-sb-validations="required" data-sb-can-submit="no">
						<label for="rrnNo">생년월일 (YYMMDD)</label>
					</div>
					<div class="form-floating mb-3" style="width: 24%; float: left; margin-left: 2%;">
						<input class="form-control" id="startDate" name="startDate" type="date" maxlength="13" placeholder="Enter your name..." data-sb-validations="required" data-sb-can-submit="no"
							th:value="${#dates.format(startDate, 'yyyyMMdd')}" disabled>
						<label for="custName">시작일</label>
					</div>
					<div class="form-floating mb-3" style="width: 24%; float: left; margin-left: 1%;">
						<input class="form-control" id="endDate" name="endDate" type="date" maxlength="13" placeholder="Enter your name..." data-sb-validations="required" data-sb-can-submit="no"
							th:value="${#dates.format(startDate, 'yyyyMMdd')}" disabled>
						<label for="custName">종료일</label>
					</div>
					<div id="test">
						<table class="table text-center table-stripeduser" id="inquiryTable">
							<thead>
								<tr>
									<th>업무키</th>
									<th>고객명</th>
									<th>고객번호</th>
									<th>주민등록번호</th>
									<th>등록사원</th>
									<th>등록일</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="deposit : ${viewAll}">
									<td class="sendToykeyToModal" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#imageListModal" th:attr="data-listToyKey=${deposit['TOY_KEY']}">
										<span th:text="${deposit['TOY_KEY']}"></span>
									</td>
									<td th:text="${deposit['CUST_NM']}"></td>
									<td th:text="${deposit['CUST_NO']}"></td>
									<td th:text="${deposit['RRN_NO']}"></td>
									<td th:text="${deposit['EMP_CD_INI']}"></td>
									<td th:text="${deposit['REG_DATE_INI']}"></td>
									
								</tr>
							</tbody>
						</table>
						<!-- 페이징 처리 -->
						<nav aria-label="Page navigation example" style="display: flex; justify-content: center;">
							<ul class="pagination">
							<!-- 맨 첫 페이지로 이동하는 버튼 -->  
							<li class="page-item">
								<span th:if="${pVo.startPage > 0}">
									<a class="page-link" th:href="@{'/toy/inquiry/inquiryDeposit?page=1'+'&toyKey='+|${depositJson.toyKey}|+'&custNm='+|${depositJson.custNm}|+'&rrnNo='+|${depositJson.rrnNo}|}" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</span>
							</li>
							<!-- 이전 블록으로 이동하는 버튼 -->
							<li class="page-item">
								<a class="page-link" th:href="@{'/toy/inquiry/inquiryDeposit?page='+${pVo.startPage - 1}+'&toyKey='+|${depositJson.toyKey}|+'&custNm='+|${depositJson.custNm}|+'&rrnNo='+|${depositJson.rrnNo}|}">
									<span aria-hidden="true">&lt;</span>
								</a>
							</li>
							<!-- 시퀀스 보여주는 값을 변경. -->
							<li class="page-item" style="display: flex; flex-direction: row; list-style: none;">
								<!-- <span th:each="pageNum : ${#numbers.sequence(pVo.startPage, pVo.endPage)}">
									<a class="page-link" th:href="@{'/toy/inquiry?page='+${pageNum}}" th:text="${pageNum}"></a>
								</span> -->
								<span th:each="pageNum : ${#numbers.sequence(pVo.startPage, pVo.endPage)}">
									<a class="page-link" th:href="@{'/toy/inquiry/inquiryDeposit?page='+${pageNum}+'&toyKey='+|${depositJson.toyKey}|+'&custNm='+|${depositJson.custNm}|+'&rrnNo='+|${depositJson.rrnNo}|}" th:text="${pageNum}"></a>
								</span>
							</li>
							<!-- 다음 블록으로 이동하는 버튼 -->
							<li class="page-item">
								<a class="page-link" th:href="@{'/toy/inquiry/inquiryDeposit?page='+|${pVo.endPage + 1}|+'&toyKey='+|${depositJson.toyKey}|+'&custNm='+|${depositJson.custNm}|+'&rrnNo='+|${depositJson.rrnNo}|}">
									<span aria-hidden="true">&gt;</span>
								</a>
							</li>
							<!-- 맨 뒷 페이지로 이동하는 버튼 -->
							<li class="page-item">
								<span th:if="${pVo.startPage > 0}">
									<a class="page-link" th:href="@{'/toy/inquiry/inquiryDeposit?page='+${pVo.totalPageCount}+'&toyKey='+|${depositJson.toyKey}|+'&custNm='+|${depositJson.custNm}|+'&rrnNo='+|${depositJson.rrnNo}|}" aria-label="Previous">
									  <span aria-hidden="true">&raquo;</span>
									</a>
								</span>
							  </li>
							</ul>
						</nav>
					</div>
					<!-- Modal -->
					<div class="modal fade modal-xl" id="imageListModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog">
								<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title text-primary fw-bolder mb-0" id="exampleModalLabel"></h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body" id="imageListBody">
								<!-- imageModal.html 교체 -->
							</div>
							</div>
						</div>
					</div>
                </div>
            </section>
        	<div th:include="common/footer :: footer"></div>
			
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script th:src="@{/static/js/api/inquiryDeposit.js}"></script>
    </body>
</html>

